*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bgimages{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.searchbar{
  height: 12vh;
  border-bottom:2px solid gray ;

}
.searchbar input{
  font-size:xx-large;
  color: gray;
  outline: none;
  border: none;
  width: 100%;    
  background-color:transparent;
}
.search_input:focus{
  outline: none !important;
  border: none !important;
  background-color: none;

}
.detailbar{
  height: calc(100vh - 12vh);
  
  
}
.maintemp{
  display: flex;
  align-items: flex-end; 
  padding-bottom: 3%;
  
}
.main_temp{
  font-size:65px;
}
.weather_info {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(10px);

}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .weather_info {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
  }
}